.root {
  background-color: rgb(60, 194, 62);
  color: #ffffff;
  width: fit-content;
  font-size: 24px;
  height: 48px;
  border-radius: 24px;
  padding: 0px 16px 0px 16px;
  box-sizing: border-box;
}
.accent {
  background-color: white;
  color: #000000;
  transition: box-shadow 0.3s ease;
  border-color: rgb(60, 194, 62);
}
.accent:hover {
  box-shadow: 0px 0px 0px 1px rgb(60, 194, 62);
}
