.root {
  background-color: var(--accent-color);
  color: var(--secondary-font-color);
  width: fit-content;
  font-size: 24px;
  height: 48px;
  border-radius: 24px;
  padding: 0px 16px 0px 16px;
  box-sizing: border-box;
}
.secondary {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  transition: box-shadow 0.3s ease;
}
.secondary:hover {
  box-shadow: 0px 0px 0px 1px var(--accent-color);
}
