.root {
  width: 100%;
  height: auto;
  font-size: 24px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(auto-fill, min-content);
  grid-row-gap: 24px;
}

.header {
  font-size: 64px;
  color: rgb(60, 194, 62);
}

.minimum {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-row-gap: 16px;
}
.table {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
.table_item {
  display: grid;
  width: auto;
  grid-template-rows: auto auto;
  justify-items: flex-start;
  align-items: center;
  margin-bottom: 16px;
}
.table_item_gap {
  margin: 8px 0px 8px 0px;
  height: 1px;
  min-height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.more_info {
  display: inline;
}
.loading_container {
  width: 100%;
  height: min-content;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  grid-row-gap: 16px;
}
.loading_spinner {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-top: 6px rgb(60, 194, 62) solid;
  border: 4px transparent solid;
  box-sizing: border-box;
  animation: spinner-animation 1s infinite;
}
@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
    border-top: 5px rgb(60, 194, 62) solid;
  }
  100% {
    transform: rotate(360deg);
    border-top: 5px rgb(60, 194, 62) solid;
  }
}
