.root {
  width: 100%;
  height: auto;
  font-size: 24px;
}
.about {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content min-content;
  grid-row-gap: 20px;
}

.about_header {
  font-size: 64px;
  color: var(--accent-font-color);
}
.about_function {
  max-width: 632px;
  width: 100%;
}
.about_minimum {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-row-gap: 16px;
}
.gap {
  margin: 20px 0px 20px 0px;
  background-color: var(--divider-color);
  min-height: 1px;
  width: 100%;
}
.input_form {
  height: auto;
  width: 100%;
  display: grid;
  grid-row-gap: 16px;
}
.optimize {
  display: flex;
  justify-content: flex-end;
}
.vector_x,
.epsilon {
  display: grid;
  font-size: 24px;
  grid-template-columns: 50px auto;
  align-items: center;
}
