.root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
  grid-gap: 48px;
  margin-top: calc(25vh - 100px);
  margin-bottom: 64px;
}
.header {
  color: rgb(60, 194, 62);
  font-size: 100px;
  font-weight: 400;
}
.options_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
}
@media (max-width: 420px) {
  .options_container {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
}
