.main-page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page > .main-page-container {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-gap: 48px;
}
.main-page-container > .header {
  color: rgb(60, 194, 62);
  font-size: 104px;
  font-weight: 400;
}
.main-page-container > .options-container {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: min-content min-content;
}
