.detailed-function-description {
  width: 100%;
  height: auto;
}
.detailed-function-description > .info {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content min-content;
  grid-row-gap: 20px;
}

.detailed-function-description > .info > .function-header {
  font-size: 64px;
  color: rgb(60, 194, 62);
}
.detailed-function-description > .info > .function {
  width: 70%;
}
.detailed-function-description > .info > .minimum {
  display: grid;
  grid-template-columns: max-content max-content;
  font-size: 24px;
  grid-column-gap: 20px;
}
.detailed-function-description > .gap {
  margin: 20px 0px 20px 0px;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 1px;
  width: 100%;
}
.detailed-function-description > .gap {
  margin: 20px 0px 20px 0px;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 1px;
  width: 100%;
}
.detailed-function-description > .input-form {
  height: auto;
  width: 100%;
  display: grid;
  grid-row-gap: 16px;
}
.detailed-function-description > .input-form > .vector-x,
.detailed-function-description > .input-form > .epsilon {
  font-size: 24px;
}
.detailed-function-description > .input-form > .optimize {
  display: flex;
  justify-content: flex-end;
}
